//VARIÁVEIS-CORES-E-FONTES

$dark: #000000;
$white: #FFFFFF;
$gray-dark: #30373E;
$gray: #ADB5BD;
$stroke: #D3D7DB;
$bg: #FAFAFA;
$purple-dark: #5A27F2;
$purple-main: #845EF7;
$purple-light: #E1D4FF;
$purple-super-light: #F8F5FF;
$bg-modal: rgba(0, 0, 0, 0.4);
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
